</div>

<div class="mt-5">
    <hr>
    <p>
        <a href="{{helpfaqurl}}" title="{{#str}}overview:helpfaq:title, local_eportfolio{{/str}}"><i class="fa fa-question-circle"></i> {{#str}}
            overview:helpfaq:title, local_eportfolio{{/str}}</a>
    </p>
</div>