<div class="dropdown mt-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        Dateiauswahl
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{{createh5pfile}}">Neue H5P-Datei anlegen</a>
        <a class="dropdown-item" href="{{uploadh5pfile}}">H5P-Datei hochladen</a>
        {{{uploadnewfileurl}}}
    </div>
</div>

<ul class="nav nav-tabs mt-5 mb-5" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home" type="button"
                role="tab" aria-controls="home" aria-selected="true">Meine Portfolios
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="myshared-tab" data-toggle="tab" data-target="#myshared" type="button"
                role="tab" aria-controls="myshared" aria-selected="false">Von mir geteilte Portfolios
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="mygrade-tab" data-toggle="tab" data-target="#mygrade" type="button"
                role="tab" aria-controls="mygrade" aria-selected="false">Von mir zur Bewertung geteilte Portfolios
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="shared-tab" data-toggle="tab" data-target="#shared" type="button"
                role="tab" aria-controls="shared" aria-selected="false">Mit mir geteilte Portfolios
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="grade-tab" data-toggle="tab" data-target="#grade" type="button"
                role="tab" aria-controls="grade" aria-selected="false">Mit mir zur Bewertung geteilte Portfolios
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="template-tab" data-toggle="tab" data-target="#template" type="button"
                role="tab" aria-controls="template" aria-selected="false">Verfügbare Vorlagen
        </button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Zuletzt geändert</th>
                <th scope="col">Größe</th>
                <th scope="col">Bewertung/Feedback</th>
                <th scope="col">Aktionen</th>
            </tr>
            </thead>
            <tbody>

            {{#myeportfolios}}
                <tr>
                    <th><i class="fa fa-file-zip-o"></i> <a href="{{fileviewurl}}" target="_blank">{{filename}}</a></th>
                    <td>{{filetimemodified}}</td>
                    <td>{{filesize}}</td>
                    <td><a href="#">einsehen</a></td>
                    <td>
                        <a href="{{sharingurl}}?id={{fileitemid}}&step=0"><i class="fa fa-share-alt mr-3"></i></a>
                        <a href="{{fileediturl}}"><i class="fa fa-edit mr-3"></i></a>
                        <i class="fa fa-trash"></i>
                    </td>
                </tr>
            {{/myeportfolios}}

            </tbody>
        </table>

        <a href="#" class="btn btn-primary mt-3"><i class="fa fa-download"></i> Mein Portfolio herunterladen</a>


    </div>
    <div class="tab-pane fade" id="myshared" role="tabpanel" aria-labelledby="myshared-tab">
        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Zuletzt geändert</th>
                <th scope="col">Größe</th>
                <th scope="col">Geteilt im Kurs</th>
                <th scope="col">Geteilt am</th>
                <th scope="col">Geteilt bis</th>
                <th scope="col">Aktionen</th>
            </tr>
            </thead>
            <tbody>

            {{#mysharedeportfolios}}
                <tr>
                    <th><i class="fa fa-file-zip-o"></i> <a href="{{courseurl}}" target="_blank">{{filename}}</a></th>
                    <td>{{filetimemodified}}</td>
                    <td>{{filesize}}</td>
                    <td><a href="{{courseurl}}">{{coursename}}</a></td>
                    <td>{{sharestart}}</td>
                    <td>{{shareend}}</td>
                    <td>
                        <a href="{{courseurl}}" target="_blank"><i class="fa fa-search mr-3"></i></a>
                        <a href="{{{undourl}}}"><i class="fa fa-undo"></i></a>
                    </td>
                </tr>
            {{/mysharedeportfolios}}

            </tbody>
        </table>

    </div>

    <div class="tab-pane fade" id="mygrade" role="tabpanel" aria-labelledby="mygrade-tab">
        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Zuletzt geändert</th>
                <th scope="col">Größe</th>
                <th scope="col">Geteilt im Kurs</th>
                <th scope="col">Geteilt am</th>
                <th scope="col">Geteilt bis</th>
                <th scope="col">Aktionen</th>
            </tr>
            </thead>
            <tbody>

            {{#mysharedeportfoliosgrade}}
                <tr>
                    <th><i class="fa fa-file-zip-o"></i> <a href="{{courseurl}}" target="_blank">{{filename}}</a></th>
                    <td>{{filetimemodified}}</td>
                    <td>{{filesize}}</td>
                    <td><a href="{{courseurl}}">{{coursename}}</a></td>
                    <td>{{sharestart}}</td>
                    <td>{{shareend}}</td>
                    <td>
                        <a href="{{courseurl}}" target="_blank"><i class="fa fa-search mr-3"></i></a>
                        <a href="{{{undourl}}}"><i class="fa fa-undo"></i></a>
                    </td>
                </tr>
            {{/mysharedeportfoliosgrade}}

            </tbody>
        </table>
    </div>


    <div class="tab-pane fade" id="shared" role="tabpanel" aria-labelledby="shared-tab">
        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Geteilt von</th>
                <th scope="col">Geteilt im Kurs</th>
                <th scope="col">Geteilt am</th>
                <th scope="col">Geteilt bis</th>
                <th scope="col">Aktionen</th>
            </tr>
            </thead>
            <tbody>

            {{#sharedeportfolios}}
                <tr>
                    <th><i class="fa fa-file-zip-o"></i> <a href="{{courseurl}}" target="_blank">{{filename}}</a></th>
                    <td>{{userfullname}}</td>
                    <td><a href="{{courseurl}}">{{coursename}}</a></td>
                    <td>{{sharestart}}</td>
                    <td>{{shareend}}</td>
                    <td>
                        <a href="{{courseurl}}" target="_blank"><i class="fa fa-search mr-3"></i></a>
                    </td>
                </tr>
            {{/sharedeportfolios}}

            </tbody>
        </table>
    </div>

    <div class="tab-pane fade" id="grade" role="tabpanel" aria-labelledby="grade-tab">
        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Geteilt von</th>
                <th scope="col">Geteilt im Kurs</th>
                <th scope="col">Geteilt am</th>
                <th scope="col">Geteilt bis</th>
                <th scope="col">Aktionen</th>
            </tr>
            </thead>
            <tbody>

            {{#sharedeportfoliosgrade}}
                <tr>
                    <th><i class="fa fa-file-zip-o"></i> <a href="{{courseurl}}" target="_blank">{{filename}}</a></th>
                    <td>{{userfullname}}</td>
                    <td><a href="{{courseurl}}">{{coursename}}</a></td>
                    <td>{{sharestart}}</td>
                    <td>{{shareend}}</td>
                    <td>
                        <a href="{{courseurl}}" target="_blank"><i class="fa fa-search mr-3"></i></a>
                    </td>
                </tr>
            {{/sharedeportfoliosgrade}}

            </tbody>
        </table>
    </div>

    <div class="tab-pane fade" id="template" role="tabpanel" aria-labelledby="template-tab">
        <p class="alert alert-warning mb-5">Aktuell stehen keine Vorlagen zur Verfügung.</p>
    </div>
</div>

<div class="mt-3">
    <p>
        <a href="{{helpfaqurl}}" title="{{#str}}overview:helpfaq:title, local_eportfolio{{/str}}"><i class="fa fa-question-circle"></i> {{#str}}overview:helpfaq:title, local_eportfolio{{/str}}</a>
    </p>
</div>